/* ════════════════════════════════════════
   Responsive
════════════════════════════════════════ */
@media(max-width:768px){
  #menu-btn{display:block}
  #sidebar{
    position:fixed;left:0;top:0;bottom:0;z-index:200;
    transform:translateX(-100%);
  }
  #sidebar.open{transform:translateX(0) !important}
  #toast{bottom:16px}
  .tl-panel{width:200px}
  .page-home{padding:20px}
  .tl-modal-overlay{position:fixed}
}
@media(min-width:769px){
  #menu-btn{display:none}
  #sidebar{position:absolute}
}
